{% extends 'base.html' %}
{% load static %}
{% block container %}


<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


</head>

<body class="text-center">

    <main class="form-signin">
        <form method="post" action="/login">
            {%csrf_token%}
            <img class="mb-4" src="{% static 'logo_edit.png' %}" alt="Logo" width="300">
            <p class="h3 mb-4 fw-bold">Sign In to access</p>
            <p class="h5 mb-4 fw-normal">Devices Controller Page</p>

            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="johndoe">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                    placeholder="userpass">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; Dhrumil Mistry 2021</p>
        </form>
    </main>


    {%endblock%}